<div class="page-layout blank p-24" fusePerfectScrollbar>

    <h2>{{'SAMPLE.NGMDEL' | translate}}</h2>

    <app-proposal-form></app-proposal-form>

    <!-- <app-search-box (clickSearch)="openSearchclick($event)" startDateLabel="startDate" endDateLabel="endDate">

        <div fxLayout="row" fxLayoutAlign="center" class="titlengModel">
            <h2>DateTime ngModel</h2>
        </div>

        <div fxLayout="row" fxLayoutAlign="center" class="contentngModel">
            <h2>Content ngModel</h2>
        </div>

    </app-search-box> -->

    <!-- <h2>{{'SAMPLE.FORM' | translate}}</h2>

    <app-search-form (clickFormSearch)="onSubmit($event)" dateStartLabelan="DateStart" dateEndLabelan="DateEnd">

        <div class="titleForm" fxLayout="row" fxLayoutAlign="center">
            <h2>DateTime Form</h2>
        </div>

        <div class="contentForm" fxLayout="row" fxLayoutAlign="center">
            <h2>Content Form</h2>
        </div>

    </app-search-form> -->

</div>