<!-- <div fxFlexlayout="column">
  <div fxLayout="row" fxLayoutAlign="center">

  </div>
</div> -->

<div fxFlexlayout="column">
  <form [formGroup]="selectForm">


    <div fxLayout="row">
      <div fxFlex="100" fxFlex.gt-sm="50" fxLayoutAlign="center">
        <mat-form-field fxFlex="50">
          <mat-label>หน่วยงาน</mat-label>
          <mat-select formControlName="department" name="department">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let item of department" [value]="item">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="50" fxLayoutAlign="center">
        <mat-form-field fxFlex="50">
          <mat-label>กลุ่ม/ฝ่าย</mat-label>
          <mat-select formControlName="group" name="group">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let item of group" [value]="item">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center">
      <mat-form-field fxFlex="75">
        <mat-label>แผนงาน</mat-label>
        <mat-select formControlName="plan" name="plan">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let item of plan" [value]="item">
            {{item.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="center">
      <mat-form-field fxFlex="75">
        <mat-label>ผลผลิต/โครงการ</mat-label>
        <mat-select formControlName="product" name="product">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let item of product" [value]="item">
            {{item.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="center">
      <mat-form-field fxFlex="75">
        <mat-label>กิจกรรม</mat-label>
        <mat-select formControlName="activities" name="activities">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let item of activities" [value]="item">
            {{item.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="center">
      <mat-form-field fxFlex="75">
        <mat-label>ประเภทรายจ่าย</mat-label>
        <mat-select formControlName="expense" name="expense">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let item of expense" [value]="item">
            {{item.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="center">
      <mat-form-field class="example-full-width" fxFlex="75">
        <mat-label>รายการ</mat-label>
        <textarea matInput formControlName="list" name="list" placeholder="Ex. It makes me feel..."></textarea>
      </mat-form-field>
    </div>
  </form>

  <div fxLayout="row" fxLayoutAlign="center">
    <button mat-raised-button color="primary" (click)="onsubmit()">SUBMIT</button>
  </div>
</div>